@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body {
    align-content: center;
    background : url("img/Concert.png") no-repeat center center;
    background-size: cover;
    font-family: 'Helvetica', monospace;
    opacity: 0.8;    
}
h1
{
	text-align: center;
}

#SignInForm{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	align-content: center;
	background: #fff;
	opacity : 0.8 ;
  	align-items: center;
  	border-radius: 5px;
}

input 
{	
	/*margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	align-content: center;
	width: 50%;
	height: 50px;
	position: relative;
	outline: none;
	border-bottom: :0px solid #ddd;
	margin-left: 20% ;
  	padding-left: 10px;
	border-radius: 10px;
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: gray;*/

    width: 250px;
    padding: 8px;
    margin: 7px;
    border-radius: 5px;
    outline: none;
    border: none;
	border-bottom: 2px solid #fff;
	background: none;
	text-align: center;
	align-items: center;
	align-content: center;

}



#textForm
{
	margin-left: 5px;
}



#TextInput
{
	top: 25%; left: 1%;
} 

#button-signIn 
{	
	align-items: center;
	align-content: center;	
	grid-area:  P ;
	padding-top: 50px;
	text-align: center;
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin-left: 40%;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #384c80;
}

.btn:active {
  	transform: translate(0px, 5px);
  	-webkit-transform: translate(0px, 5px);
  	box-shadow: 0px 1px 0px 0px;
}


button:hover 
{
  	background-color: #FF6656;
}