/* fonts import */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body {
    align-content: center;
    
    font-family: 'Helvetica', monospace;    
     background: url(img/Mus.jpg) no-repeat top center;
	 background-size: cover;
}
h1{
	text-align: center;
	 font-size: 40px;
	 margin: 40px;
	 border-radius: 20px;

}

#ResearchMusician{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 600px;
	align-content: center;
	background: #fff;
	opacity : 0.8 ;
  	align-items: center;
  	border-radius: 5px;
  	text-align: center;
}
}
a
{	
	color : white;
}

input{
	width: 30%;
	height: 50px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	font-family: sans-serif,Helvetica;
	color: gray;
	align-content: center;
  	align-items: center;
  	text-align: center;
}

#button-subscribe
{	
	grid-area: P;
	align-content: center;
  	align-items: center;
	width: 300px;
	text-align: center;
	margin: auto;
	font-size: 22px;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	display: inline-block;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #384c80;
 	border-width: 2px;
 	border-style: solid;
 	border-color: #384c80 ;
 	border-radius: 5px;
}

#button-search 
{	
   align-content: center;
  	align-items: center;
	width: 300px;
	text-align: center;
	margin: auto;
	font-size: 22px;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	display: inline-block;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #384c80;
 	border-width: 2px;
 	border-style: solid;
 	border-color: #384c80 ;
 	border-radius: 5px;
}

button#button-search:hover 
{
  	background-color: #384c80 ;
  	color : #fff;
  	transition: 0.5s;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.select-selected {
  background-color: #384c80 ;
}