/* fonts import */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body {
    align-content: center;
    
    font-family: 'Inconsolata', monospace;    
     background: url(img/fond_index_haut.png) no-repeat top center;
	 background-size: 100em;
}
h1{
	text-align: center;
	text-shadow: -1px 0 black, 0 1px white;
	
	 font-size: 7em;
	 margin-bottom: 20px;
	 border-radius: 20px;

}

#ResearchMusician{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	align-content: center;
	background: grey;
	
  	
  	
  	align-items: center;
  	border-radius: 25px;
}


#textForm
{
	margin-left: 5px;
}



#TextInput
{
	top: 25%; left: 1%;
} 

a
{	
	color : white;
}

#button-subscribe
{	width: 100%;
	margin : auto;
	padding-top: 50px;
	text-align: center;
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin-bottom: : 15px;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #B30F0F;
	box-shadow: 0px 5px 0px 0px #CE3323;
}

#button-search 
{	
	grid-area: P;
	padding-top: 50px;
	text-align: center;
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #B30F0F;
	box-shadow: 0px 5px 0px 0px #CE3323;
}

.btn:active {
  	transform: translate(0px, 5px);
  	-webkit-transform: translate(0px, 5px);
  	box-shadow: 0px 1px 0px 0px;
}


button:hover 
{
  	background-color: #FF6656;
}


input 
{	
	width: 60%;
	height: 50px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
  	padding-left: 10px;
	border-radius: 10px;
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: gray;
}

.textForm
{
	margin : auto;
}



.TextInput
{
	top: 25%; left: 1%;
} 
