/* fonts import */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
body {
    align-content: center;
    
    font-family: 'Inconsolata', monospace;    
     background: url(img/fond_index_haut.png) no-repeat top center;
	 background-size: 100em;
}
h1{
	text-align: center;
	text-shadow: -1px 0 black, 0 1px white;
	
	 font-size: 7em;
	 margin-bottom: 20px;
	 border-radius: 20px;

}

h2{margin-bottom: 25px;}


.btn-arrow {
	font-size: 2em;
    color: black;

    margin: 10px;
    position: relative;
    width: 6rem;
    height: 6rem;

}


#ResearchMusician{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	align-content: center;
	background: grey;
	display: grid;
  	grid-template-columns: repeat(2, 5fr);
  	grid-gap: 10px;
  	grid-auto-rows: 100px;
  	grid-template-areas: 
   " z z " 
    "a b "
    "c d "
    "e f "
    "g h "
    "i j "
   "P P"
    ;
  	align-items: left;
  	border-radius: 25px;
}
#TxtSeach
{
		margin-bottom: 15px;
}

#TxtfstName
{	
	grid-area : a;
}

#search_firstname
{
	grid-area :b;
}

#TxtlstName
{
	grid-area :c ;
}

#search_lastname
{
	grid-area : d;
}

#TxtGenre
{
	grid-area :e;
}

#search_genre[]
{
	grid-area : f;
}

#TxtLoca
{
	grid-area :g;
}

#search_town
{
	grid-area :h;
}

#TxtInstru
{
	grid-area :i;
}

#search_instruments[]
{
	grid-area :j;
}


#textForm
{
	margin-left: 5px;
}



#TextInput
{
	top: 25%; left: 1%;
} 

a
{	
	color : white;
}

#button-subscribe
{	width: 100%;
	margin : auto;
	padding-top: 50px;
	text-align: center;
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin-bottom: : 15px;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #B30F0F;
	box-shadow: 0px 5px 0px 0px #CE3323;
}

#button-search 
{	
	grid-area: P;
	padding-top: 50px;
	text-align: center;
	border-radius: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	color: #fff;
	position: relative;
	display: inline-block;
	background-color: #B30F0F;
	box-shadow: 0px 5px 0px 0px #CE3323;
}

.btn:active {
  	transform: translate(0px, 5px);
  	-webkit-transform: translate(0px, 5px);
  	box-shadow: 0px 1px 0px 0px;
}


button:hover 
{
  	background-color: #FF6656;
}

/*Le cercle de selection était beaucoup trop gros, du coup j'ai 
mis en commentaire le style de input. Tu pourras le modifier.
*/

input 
{	
	width: 50%;
	height: 30px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
  	padding-left: 10px;
	border-radius: 10px;
	font-size: 12px;
	font-family: sans-serif,Arial;
	color: gray;
	margin-bottom: 10px;
}
#input-checkbox-tous{color: gray;
	margin-bottom: 10px;
	border-radius: 10px;
	width: 30px;
}
select{width: 50%;
	height: 30px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
  	padding-left: 10px;
	border-radius: 10px;
	font-size: 12px;
	font-family: sans-serif,Arial;
	color: gray;
	margin-bottom: 10px;}


.radio{
	postion: absolute;
}

.textForm
{
	margin : auto;
}



.TextInput
{
	top: 25%; left: 1%;
} 
